
HelloWorld.nb.html

*.csv

.Rproj.user/shared/notebooks/paths

.Rproj.user/905ADE4D/sources/s-68DBF99C/lock_file

.Rproj.user/905ADE4D/sources/prop/INDEX

.Rproj.user/shared/notebooks/patch-chunk-names

.Rproj.user/905ADE4D/sources/prop/D131961A

.Rproj.user/905ADE4D/sources/prop/F2477FC3

.Rproj.user/905ADE4D/sources/prop/7CCFD109

.Rproj.user/905ADE4D/sources/prop/51879655

.Rproj.user/905ADE4D/saved_source_markers

.Rproj.user/905ADE4D/rmd-outputs

.Rproj.user/905ADE4D/sources/prop/405B6E55

.Rproj.user/905ADE4D/console06/INDEX001

.Rproj.user/905ADE4D/pcs/files-pane.pper

*.pper
